body{
    margin: 0px;
    width: 100vw ;
    height: 100vh;
    background-color: white;
}
header{
    margin:0;

}
.background1{
    background-color: #222222;
    width: 100vw;
}
.header1{
    display: flex;
    justify-content: space-between;
}
.lista1{
    display: flex;
    flex-direction: row;
}
#letras1{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 10px;
padding: 4px 3vw;
color: #F3F3F3;
}
.background2{
    margin: 0;
    background-color: #F0A83E;
    width: 100vw;
}
#padd{
    padding-left: 90px
}
#iconoslist{
    list-style-image: url("images/pawprint 1.png")
}
.navegacion{
    
    display: flex;
    justify-content: space-between;
    padding: 2vh 0vh;
    
}

.logo{
    display: flex;
    padding-left: 4vh;
}
.listanav{
    display: flex;
    justify-content: space-around;
    

}
.letras3{
    font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 13px;
color: #F3F3F3;

margin-right: 3vw;

}
.background3{
    
    background-image: url("images/foto1.png");
    width: 100vw;
    background-size: cover;
height: 75vh;
}
.caja{ 
display: flex;
justify-content: flex-end;
padding: 20vh;

    
}
#caja1{
    background-color: white;
    font-family: Roboto;
    font-style: normal;
    font-weight: normal;
    font-size: 30px;
    line-height: 35px;
    padding: 10px;
    border-radius: 5px;
}
#textos1{
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;

color: #3C2313;
}
#caja2{
padding: 23px 15px;
    
    background: #F0A83E;
    font-family: Roboto;
font-style:normal;
font-weight: normal;
font-size: 16px;
line-height: 19px;
color: white;

text-align: center;
}
#cajac{
    display: flex;
    flex-direction: column;
    align-items: center;
}
h1{
    
font-family: Roboto;
font-style: normal;
font-weight: bold;
font-size: 40px;
line-height: 47px;
color: #3C2313;
}
#textos3{
display: flex;
justify-content: center;    
font-family: Roboto;
font-style: normal;
font-weight: normal;
font-size: 15px;
line-height: 18px;

color: #666666;
}
.caja4{

   
text-align: center;

background: #FBFAF6;
}
.cajaco{
    display: flex;
    justify-content: space-around;
}
h4{

font-family: Roboto;
font-style: normal;
font-weight: 500;
font-size: 15px;
line-height: 18px;

color: #3C2313;
}
h5{
    font-family: Roboto;
font-style: normal;
font-size: 15px;
font-weight: lighter;
line-height: 18px;

color: #F0A83E;
}
.background4{
    background: #3C2313;
    width: 100vw;
    height: 40vh;
    margin: 10vh 0vw 0;
}
#locacion{
    font-size: 20px;
    font-family: Roboto;
    color:white;
    margin: 2px;
}
#loc1{
    font-family: Roboto;
font-style: normal;
font-size: 10px;
padding-left: 30px;
color: #8A8787;
}
.flex2{
    display: flex;
    flex-direction: column;
    justify-content: space-around;

}
.flex3{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 0vh 2vw;
}

footer{
width: 100vw;
height: 5vh;

background: #222222;
color:white;
font-family: Roboto;
}
